* {
  background: #111921;
  accent: #95e5cb;
  foreground: #e5e1cf;
  background-light: #15212b;
  on: #86c98c;
  off: #DE635E;
}




/*                        ==== Layout ====
|------------------------------------------------------------------|
| window {BOX:vertical}                                            |
| |-------------------------------------------------------------|  |
| | mainbox  {BOX:vertical}                                     |  |
| | |---------------------------------------------------------| |  |
| | | inputbar {BOX:horizontal}                               | |  |
| | | |---------| |-----------------------------------| |---| | |  |
| | | | prompt  | | entry                             | |ci | | |  |
| | | |---------| |-----------------------------------| |---| | |  |
| | |---------------------------------------------------------| |  |
| |                                                             |  |
| | |---------------------------------------------------------| |  |
| | | message                                                 | |  |
| | | |-----------------------------------------------------| | |  |
| | | | textbox                                             | | |  |
| | | |-----------------------------------------------------| | |  |
| | |---------------------------------------------------------| |  |
| |                                                             |  |
| | |-----------------------------------------------------------|  |
| | | listview                                                  |  |
| | |-----------------------------------------------------------|  |
| |                                                             |  |
| | |---------------------------------------------------------| |  |
| | |  mode-switcher {BOX:horizontal}                         | |  |
| | | |---------------|   |---------------| |---------------| | |  |
| | | | Button        |   | Button        | | Button        | | |  |
| | | |---------------|   |---------------| |---------------| | |  |
| | |---------------------------------------------------------| |  |
| |-------------------------------------------------------------|  |
|------------------------------------------------------------------|
 */
