/* ███████╗ ██╗ ██████╗  ███████╗ ███████╗  █████╗  ██   ██╗ */
/* ██╔════╝ ██║ ██╔══██╗ ██╔════╝ ██╔════╝ ██╔══██╗ ╚██╗██╔╝ */
/* █████╗   ██║ ██████╔╝ █████╗   █████╗   ██║  ██║  ╚███╔╝  */
/* ██╔══╝   ██║ ██╔══██╗ ██╔══╝   ██╔══╝   ██║  ██║  ██╔██╗  */
/* ██║      ██║ ██║  ██║ ███████╗ ██║      ╚█████╔╝ ██╔╝╚██╗ */
/* ╚═╝      ╚═╝ ╚═╝  ╚═╝ ╚══════╝ ╚═╝       ╚════╝  ╚═╝  ╚═╝ */

:root {
	--bg: #0e1419;
	--bg-light: #15212b;
}

* {
    font-family: "Noto Sans" !important;
    font-size: 13px !important;
}

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
toolbar {
	background-color: var(--bg) !important;
	-moz-appearance: none !important;
	background-image: none !important;
	border: none !important;
}

#identity-box,
#tracking-protection-icon-container,
#urlbar-background{
	display: none !important;
}

#whats-new-menu-button,
#pocket-button,
#pageActionSeparator,
#pageActionButton,
#reader-mode-button{
	display: none !important;
} 

#titlebar #TabsToolbar {
	padding: 6px 0px 2px 6px !important;
	background: var(--bg) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	display: none;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after, #tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before, 
.tabbrowser-tab[visuallyselected]::after {
    opacity: 0 !important;
}

.tabbrowser-tab {
    margin-right: 5px !important;
}

tab[selected="true"] .tab-background {
	background: var(--bg-light) !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: 0 !important;
    opacity: 0 !important;
}

.tab-close-button {
	transition: all 0.3s ease !important;
    border-radius: 4px !important;
}
.tab-close-button:hover {
    fill-opacity: 0.2 !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 4px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]) {
	transition: all 0.3s ease !important;
}

toolbar#nav-bar {
	background: var(--bg) !important;
	box-shadow: none !important;
}

#back-button {
	list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSNzVLQoGBAAAAb0lEQVQoz43ROQqDUBSF4UMEESKCBBehOODK7ezSWZnGJmuI4xp+66CX9077FXc40k1o+fCSFRoOOgKLa3Z6QosrNt5EFpesDDwtLlgYSSzOmZlILY758SW7ykO+cYzwWNLjTI9HSc5XS86ypP+6Tw/fVEqhFbEZAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTAzLTE5VDE4OjU1OjUzKzAxOjAwq3ccegAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wMy0xOVQxODo1NTo1MyswMTowMNoqpMYAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC') !important;
}

#forward-button {
	list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSOA3k2CXQAAAAbklEQVQoz5WRMQqDABAEF4UgKEIIPkKJii+3s7NLpY1N3qBR84axsPYOt1sYuNtdSZLEi5FG1yKk5U9tIQ86dioLiejZKC0k5sPK20JSBn4UFvJkYiG3kIwvM8npAt2Vc8J50onpFOVU7Y51PfcBtUFUSir+geUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTlUMTg6NTY6MTMrMDE6MDDECqmDAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTE5VDE4OjU2OjEzKzAxOjAwtVcRPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') !important;
}  

.toolbarbutton-1{
	--toolbarbutton-hover-background: none !important; 
}

#back-button > .toolbarbutton-icon {
	transform: scale(.85, .85) !important;
	animation: none !important;
	border: none !important;
	box-shadow: none !important;
	background: none !important;
}

.tab-line{
	display: none !important;
}

#urlbar-results {
	background-color: var(--bg) !important;
	border-radius: 0px 0px 4px 4px !important;
	padding: 5px;
}

#urlbar-container {
	margin-left: 15px;
}
   
.urlbarView-body-inner {
	border-top: none !important;
}

#PanelUI-button {
	border-image-slice: 0 !important;
	margin-inline-start: 0 !important;
	padding-inline-start: 0 !important;
  }
